<div class="container-fluid p-4">

<!-- Header -->

<div class="d-flex justify-content-between align-items-center mb-4">

  <h5>{{ 'Master' | translate }} > <span class="text-primary">{{ 'TaxMaster' | translate }}</span></h5>

  <div>

    <button class="btn btn-light me-2">
      ✏
    </button>

    <button class="btn btn-light me-2">
      🖨
    </button>

    <button class="btn btn-primary">
      + Add New
    </button>

  </div>

</div>


<form [formGroup]="taxForm">

<div class="row g-4">

<!-- HSN Code -->

<div class="col-md-6">
<input
type="text"
class="form-control"
placeholder="{{ 'HSN Code' | translate }}"
formControlName="hsnCode"
readonly
/>
</div>

<!-- Display Name -->

<div class="col-md-6">
<input
type="text"
class="form-control"
placeholder="{{ 'Display Name' | translate }}"
formControlName="name"
/>
</div>

<!-- Sales Tax -->

<div class="col-md-6">
<input type="number" class="form-control" placeholder="{{ 'Sales Tax Perc' | translate }}" formControlName="salestaxPercentage"/>
</div>

<!-- Surcharge -->

<div class="col-md-6">
<input
type="number"
class="form-control"
placeholder="{{ 'Sur Charge Perc' | translate }}"
formControlName="chargePercentage"
/>
</div>

<!-- Group -->

<div class="col-md-6">
<input
type="string"
class="form-control"
placeholder="{{ 'Group Name' | translate }}"
formControlName="groupName"
/>
</div>

<!-- CGST -->
<div class="col-md-6">
  <input
    type="text"
    class="form-control"
    placeholder="{{ 'CGST' | translate }}"
    formControlName="cgst"
  />
</div>

<!-- SGST -->
<div class="col-md-6">
  <input
    type="text"
    class="form-control"
    placeholder="{{ 'SGST' | translate }}"
    formControlName="sgst"
  />
</div>

<!-- IGST -->
<div class="col-md-6">
  <input
    type="text"
    class="form-control"
    placeholder="{{ 'IGST' | translate }}"
    formControlName="igst"
  />
</div>

</div>

<!-- Active -->

<div class="form-check mt-4">

<input
class="form-check-input"
type="checkbox"
formControlName="active"
/>

<label class="form-check-label">
{{ 'Active' | translate }}
</label>

</div>


<!-- Buttons -->

<div class="text-end mt-5">

<button
type="button"
class="btn btn-secondary me-2"
(click)="cancelForm()"
>
{{ 'Cancel' | translate }}
</button>

<button
type="button"
class="btn btn-primary"
(click)="saveTax()"
>
{{ 'Save' | translate }}
</button>

</div>

</form>

</div>