.container-fluid{
background:#f5f6f8;
height:100vh;
}

.form-control,
.form-select{
height:45px;
border-radius:8px;
}

.btn-primary{
padding:8px 20px;
}

.btn-secondary{
background:#e5e5e5;
border:none;
color:#000;
}