<div class="container-fluid p-4">

<h5>{{ 'Master' | translate }} > <span class="text-primary">{{ 'Product Type Master' | translate }}</span></h5>

<form [formGroup]="productTypeForm" (ngSubmit)="saveProductType()">

<div class="row mb-3">

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Product Type' | translate }}" formControlName="productType">
</div>

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Product Code' | translate }}" formControlName="code">
</div>
</div>

<div class="text-end mt-3">

<button class="btn btn-secondary me-2">{{ 'Cancel' | translate }}</button>

<button class="btn btn-primary" type="submit">{{ 'Save' | translate }}</button>

</div>
</form>

</div>