<div class="app-container">

  <!-- LEFT SIDEBAR -->
<div class="sidebar" [class.collapsed]="isSidebarCollapsed">
    <div class="logo">
      <img src="assets/user.png" class="profile"/>
      <div class="store" (click)="navigate('/')">AATHITAN STORES</div>
    </div>
<ul class="menu">

  <li (click)="selectMenu('accounts')">
    📁
   <span>{{ 'Accounts' | translate }}</span>  </li>

  <li (click)="selectMenu('master')">
    📋
    <span>{{ 'Master' | translate }}</span>
  </li>

   <li (click)="selectMenu('sales')">
    🛒
    <span>{{ 'Sales' | translate }}</span>
  </li>

  <li (click)="selectMenu('inventory')">
    📦
    <span>{{ 'Inventory' | translate }}</span>
  </li>

  <li (click)="selectMenu('report')">
    📊
    <span>{{ 'Report' | translate }}</span>
  </li>

  <li (click)="selectMenu('utilities')">
    ⚙
    <span>{{ 'Utilities' | translate }}</span>
  </li>

</ul>

<button class="toggle-btn" (click)="toggleSidebar()">
  {{ isSidebarCollapsed ? '➡' : '⬅' }}
</button>

  </div>


  <!-- SECOND SIDEBAR (MASTER MENU) -->

  <div class="sub-sidebar" [class.open]="activeMenu === 'inventory' && !isSidebarCollapsed">

      <ul>
        <li (click)="navigate('/purchase-bill')">{{ 'PurchaseBill' | translate }}</li>
      </ul>

  </div>

    <div class="sub-sidebar" [class.open]="activeMenu === 'sales' && !isSidebarCollapsed">

      <ul>

        <li (click)="navigate('/cash-bill')">{{ 'CashBill' | translate }}</li>
        <li (click)="navigate('/credit-bill')">{{ 'CreditBill' | translate }}</li>
      </ul>

  </div>


  <div class="sub-sidebar" [class.open]="activeMenu === 'report'">

      <ul>

        <li (click)="navigate('/day-book')">{{ 'DayBook' | translate }}</li>
      </ul>

  </div>

  
  <div class="sub-sidebar" [class.open]="activeMenu === 'master'">

      <ul>

        <li (click)="navigate('/supplier')">{{ 'SupplierMaster' | translate }}</li>
        <li (click)="navigate('/customer')">{{ 'CustomerMaster' | translate }}</li>
        <li (click)="navigate('/company')">{{ 'CompanyMaster' | translate }}</li>
        <li (click)="navigate('/product')">{{ 'ProductMaster' | translate }}</li>
        <li (click)="navigate('/product-type')">{{ 'ProductTypeMaster' | translate }}</li>
        <li (click)="navigate('/lorry')">{{ 'LorryMaster' | translate }}</li>
        <li (click)="navigate('/broker')">{{ 'BrokerMaster' | translate }}</li>
        <li (click)="navigate('/tax')">{{ 'TaxMaster' | translate }}</li>
        <li (click)="navigate('/accounts-master')">{{ 'AccountsMaster' | translate }}</li>
      </ul>

  </div>


  <!-- MAIN AREA -->

  <div class="main">

    <div class="topbar">

<div class="search-box">

  <input
    class="search"
    placeholder="{{ 'Search' | translate }}"
    [(ngModel)]="searchText"
    (input)="onSearch()"
    (keydown)="handleKeyDown($event)"
  />
<div class="search-box" #searchBox>
  <div class="search-results" *ngIf="results.length > 0 && searchText">

    <div
      class="result-item"
      *ngFor="let item of results; let i = index"
      [class.active]="i === selectedIndex"
      (click)="selectResult(item)"
    >
      {{item.name}}
    </div>
  </div>
  </div>

</div>

      <div class="user settings-container">

  <span class="settings-icon" (click)="toggleSettings()">
    ⚙
  </span>

  <img src="assets/user.png" class="avatar"/>
  Admin

  <div class="settings-menu" *ngIf="showSettings">

    <div class="settings-title">
      Language
    </div>

    <div (click)="changeLanguage('en')">
      🇬🇧 English
    </div>

    <div (click)="changeLanguage('ta')">
      🇮🇳 தமிழ்
    </div>

  </div>

</div>

    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>