<div class="container-fluid p-4">



  <!-- Tabs -->
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <button class="nav-link"
        [class.active]="activeTab==='details'"
        (click)="activeTab='details'">
        {{ 'Supplier Details' | translate }}
      </button>
    </li>

    <li class="nav-item">
      <button class="nav-link"
        [class.active]="activeTab==='address'"
        (click)="activeTab='address'">
        {{ 'Address' | translate }}
      </button>
    </li>

    <li class="nav-item">
  <button class="nav-link"
    [class.active]="activeTab==='bank'"
    (click)="activeTab='bank'">
    {{ 'Bank Details' | translate }}
  </button>
</li>
  </ul>

<form [formGroup]="supplierform" (ngSubmit)="submitForm()">

<!-- SUPPLIER DETAILS TAB -->

<div [hidden]="activeTab !== 'details'">
  
  <div class="mb-3">
    <label class="me-3">Type :</label>

    <input type="radio" value="BLedger" formControlName="type"> {{ 'Ledger' | translate }}
    <input type="radio" value="OtherSupplier" class="ms-3" formControlName="type"> {{ 'Other Supplier' | translate }}
  </div>

  <div class="row">

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'Contact Person Name' | translate }}" formControlName="contact">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'AadharNo' | translate }}" formControlName="aadharNo">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'GSTIN' | translate }}" formControlName="gstIn">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'PanNo' | translate }}" formControlName="panNo">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'PhoneNo' | translate }}" formControlName="phone">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'Mobile' | translate }}" formControlName="mobile">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'CreditPeriod' | translate }}" formControlName="creditPeriod">
    </div>

  </div>

  <div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" formControlName="active">
    <label class="form-check-label">{{ 'Active' | translate }}</label>
  </div>

</div>


<!-- ADDRESS TAB -->

<div [hidden]="activeTab !== 'address'">

  <div class="row">

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'DoorNo' | translate }}" formControlName="doorNo">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'Street' | translate }}" formControlName="street">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'Area' | translate }}" formControlName="area">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'City' | translate }}" formControlName="city">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'State' | translate }}" formControlName="state">
    </div>

    <div class="col-md-6 mb-3">
      <input class="form-control" placeholder="{{ 'PinCode' | translate }}" formControlName="pinCode">
    </div>



  </div>

</div>

<!-- BANK DETAILS TAB -->

<div [hidden]="activeTab !== 'bank'">

  <div class="row">

    <div class="col-md-6 mb-3">
      <input
        class="form-control"
        placeholder="{{ 'Account No' | translate }}"
        formControlName="accountNo">
    </div>

    <div class="col-md-6 mb-3">
      <input
        class="form-control"
        placeholder="{{ 'Bank Name' | translate }}"
        formControlName="bankName">
    </div>

    <div class="col-md-6 mb-3">
      <input
        class="form-control"
        placeholder="{{ 'Branch' | translate }}"
        formControlName="branch">
    </div>

    <div class="col-md-6 mb-3">
      <input
        class="form-control"
        placeholder="{{ 'IFSC Code' | translate }}"
        formControlName="ifscCode">
    </div>

    <div class="col-md-6 mb-3">
      <input
        class="form-control"
        placeholder="{{ 'Remarks' | translate }}"
        formControlName="remarks">
    </div>

  </div>

</div>

<!-- Buttons -->

<div class="text-end mt-3">
  <button type="button" class="btn btn-secondary me-2" (click)="resetForm()">{{ 'Cancel' | translate }}</button>
  <button type="submit" class="btn btn-primary" *ngIf="!viewMode"> {{ editMode ? 'Update' : 'Save' }}</button>
</div>

</form>

</div>