<div class="container-fluid p-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>{{ 'Master' | translate }} > <span class="text-primary">{{ 'Product List' | translate }}</span></h5>

    <div>
        <button class="btn btb-light me-2">
            ✏
        </button>
        <button class="btn btn-light me-2">
             🖨
        </button>
        <button class="btn btn-primary" routerLink="/product">
            + Add New
        </button>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-4 d-flex align-items-center">
        <label class="me-2">{{ 'SearchBy' | translate }}</label>
        <input type="text" class="form-control" placeholder="{{ 'Product Name' | translate }}" 
        [(ngModel)]="searchText" (input)="searchProduct()"/>    
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th style="width: 100px;">{{ 'S.No' | translate }}</th>
                <th>{{ 'Product Name' | translate }}</th>
                <th>{{ 'Product Code' | translate }}</th>
                <th>{{ 'Stock in Godown' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of filteredProducts; let i = index">
                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.weight }}</td>
            </tr>
        <tr *ngIf="paginatedProducts.length == 0">
            <td colspan="4" class="text-center">{{ 'No products found.' | translate }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-end align-items-center mt-3">
    <button class="btn btn-light me-2" (click)="prevPage()">{{ 'Previous' | translate }}</button>
    <span class="me-2">{{ 'Page' | translate }} {{ currentPage }}</span>
    <button class="btn btn-light ms-2" (click)="nextPage()">{{ 'Next' | translate }}</button>
</div>
</div>
