<div class="container-fluid p-4">

<h5>{{ 'Master' | translate }} > <span class="text-primary">{{ 'Product Master' | translate }}</span></h5>

<form [formGroup]="productForm" (ngSubmit)="saveProduct()">

<div class="row mb-3">

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Product Type' | translate }}" formControlName="type">
</div>

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Product Code' | translate }}" formControlName="code">
</div>

</div>


<div class="row mb-3">

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Product Name' | translate }}" formControlName="name">
</div>

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Brand Name' | translate }}" formControlName="brandName">
</div>

</div>


<div class="row mb-3">

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Weight' | translate }}" formControlName="weight">
</div>

<div class="col-md-6">
<input class="form-control" placeholder="{{ 'Retail Rate' | translate }}" formControlName="retailRate">
</div>

</div>


<table class="table table-bordered mt-4">

<thead>

<tr>
<th>{{ 'TAX NAME' | translate }}</th>
<th>{{ 'OPTIONAL STOCK' | translate }}</th>
<th>{{ 'STOCK IN HAND' | translate }}</th>
</tr>

</thead>

<tbody formArrayName="taxes">

<tr *ngFor="let tax of taxList; let i=index" [formGroupName]="i">

<td>{{tax.name}}</td>

<td>
<input class="form-control" formControlName="optionalStock">
</td>

<td>
<input class="form-control" formControlName="stockInHand">
</td>

</tr>

</tbody>

</table>

<div class="text-end mt-3">

<button class="btn btn-secondary me-2" type="button">{{ 'Cancel' | translate }}</button>

<button class="btn btn-primary" type="submit">{{ 'Save' | translate }}</button>

</div>

</form>

</div>